@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
@import './color';

// html {
//     // font-family: 'Manrope', sans-serif;
// }

body {
    min-height: 100vh;
    background-color: $Dark-Blue;
}

.root {
    min-height: 100vh;
    .board {
        max-width: 500px;
        // aspect-ratio: 16/9;
        min-height: 200px;
        background-color: $Dark-Grayish-Blue;
        .hero-title {
            color: $Neon-Green;
            font-family: 'Manrope', sans-serif;
        }
        figure {
            // background-color: yellow;
            min-height: 120px;
            .blockquote .quote {
                font-size: 28px;
                color: $Light-Cyan;
                font-family: 'Manrope', sans-serif;
            }
        }
        .dice-container {
            width: 50px;
            aspect-ratio: 1/1;
            background-color: $Neon-Green;
            left: 50%;
            bottom: -25px;
            transform: translate(-50%);
            cursor: pointer;
            &:hover {
                box-shadow: 0px 0px 30px 5px $Neon-Green;
            }
        }
    }
    .attribution {
        font-family: 'Manrope', sans-serif;
        a {
            color: $Light-Cyan;
            &:hover {
                color: $Neon-Green;
                text-decoration: none;
                transition: .3s;
            }
        }
    }
}